/* ======= COMMON STYLES =======*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section-paddings {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* ======= /COMMON STYLES =======*/

/* ======= HEADER STYLES =======*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.page-logo-first {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
  margin-right: 76px;
}
.header-container {
  display: flex;
  align-items: center;
}
.page-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}
.text-color {
  color: #2e2f42;
}
.menu-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link.current {
  position: relative;
}
.menu-link.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.menu-link.current {
  color: #404bbf;
}

.page-address {
  display: flex;
  align-items: center;
  font-style: normal;
  margin-left: auto;
}
.contacts-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ======= /HEADER STYLES =======*/

/* ======= HERO STYLES =======*/
.page-hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hw4/people-office.jpg);
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}

.top-hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 48px;
}
.button-hero {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  display: block;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ======= /HERO STYLES =======*/

/* ======= OUR BENEFITS STYLES =======*/
.menu-benefits {
  display: flex;
  gap: 24px;
}
.menu-benefits-item {
  width: calc((100% - 72px) / 4);
}
.local-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text-benefits {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.icon-benefits {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ======= /OUR BENEFITS STYLES =======*/

/* ======= OUR TEAM STYLES =======*/
.page-team {
  background-color: #f4f4fd;
}
.text-box {
  padding-top: 32px;
  padding-bottom: 32px;
}
.main-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.menu-team-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.menu-team {
  display: flex;
  gap: 24px;
}
.img-team {
  margin-bottom: 32px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 32px;
}
.links-team {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.links-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links-main:hover,
.links-main:focus {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.links-icon {
  fill: #f4f4fd;
}
/* ======= /OUR TEAM STYLES =======*/

/* ======= PORTFOLIO STYLES ======= */

.menu-portfolio {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.main-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.menu-portfolio-item {
  width: calc((100% - 48) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.images-wrapper {
  position: relative;
  overflow: hidden;
}
.text-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  color: #f4f4fd;
  overflow: auto;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.images-wrapper:hover .text-overlay {
  transform: translateY(0%);
}
.border-team-text {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.team-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ======= /PORTFOLIO STYLES ======= */

/* ======= FOOTER STYLES =======*/
.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.container-flex {
  display: flex;
  align-items: baseline;
}
.container-second {
  margin-right: 120px;
}
.page-logo-second {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.text-color-second {
  color: #f4f4fd;
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.text-icon-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.icon-list-footer {
  display: flex;
  gap: 16px;
  padding-left: 0;
}
.icon-list-item-footer {
  width: 40px;
  height: 40px;
}
.icon-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: #31d0aa;
}
.icon-item {
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-footer:hover,
.icon-link-footer:focus {
  fill: #f4f4fd;
}
/* SUBSCRIBE */

.container-subscribe {
  margin-left: 80px;
}
.text-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.form-input-email {
  display: flex;
  gap: 24px;
}
.form-input-subscr {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
}
.form-input-subscr::placeholder {
  color: #ffffff;
}
.btn-subscribe {
  min-width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-subscribe:hover,
.btn-subscribe:focus {
  color: #31d0aa;
}
.icon-btn-sb {
  margin-left: 16px;
  fill: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ======= /FOOTER STYLES =======*/

/* MODAL STYLE */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}
.modal-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal-main {
  position: absolute;
  width: 408px;
  height: 80%;
  min-height: 584px;
  top: 50%;
  left: 50%;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  width: 24px;
  height: 24px;
  right: 24px;
  border-radius: 50%;
  stroke-width: 1px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  stroke: rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-slogan {
  max-width: 360px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 24px;
  margin-bottom: 16px;
}
.review-form-wrapper {
  margin-bottom: 8px;
}
.review-form-textarea-wrapper {
  margin-bottom: 16px;
}
.review-form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.review-form-main {
  position: relative;
}
.review-form-icons {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus {
  outline: none;
  border: 1px solid #4d5ae5;
}
.review-form-input:focus + .review-form-icons {
  fill: #4d5ae5;
}
.review-form-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.review-form-textarea:focus {
  outline: none;
  border: 1px solid #4d5ae5;
}
.review-form-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.review-form-checkbox-label {
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.review-form-checkbox:checked
  + .review-form-checkbox-label
  > .review-form-custom-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.review-form-checkbox:focus
  + .review-form-checkbox-label
  > .review-form-custom-checkbox {
  border-color: #404bbf;
}
.review-form-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-checkbox-label-link {
  text-decoration: underline;
  color: #4d5ae5;
}
.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.review-form-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  background-color: #3a4cbf;
}
