.hidden {
  display: none;
}
/* ======= COMMON STYLES =======*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
.section-paddings {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* ======= HEADER STYLES =======*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.menu,
.page-address {
  display: none;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-logo-first {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}
.text-color {
  color: #2e2f42;
}
.hero-menu {
  padding: 0;
  border: none;
  background-color: transparent;
}
.icon-hero-menu {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .hero-menu {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .page-logo-first {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 120px;
  }
  .menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link.current {
    position: relative;
  }
  .menu-link.current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .page-address {
    display: block;
    font-style: normal;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:hover,
  .menu-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .menu-link.current {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .page-logo-first {
    margin-right: 76px;
  }
  .contacts {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* ============MOBILE MENU============ */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 72px;
  padding-bottom: 40px;
  background: #fff;
}
.mobile-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  margin-right: 0;
  padding: 0;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-menu-link-studio {
  color: #404bbf;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.page-address {
  display: flex;
  font-style: normal;
  margin-left: auto;
}
.contacts {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: auto;
}
.contacts-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-icons-list {
  display: flex;
  gap: 40px;
  padding-left: 0;
  padding-right: 0;
}
.mobile-icons-item {
  display: flex;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: #31d0aa;
}
.icon-item {
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-footer:hover,
.icon-link-footer:focus {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .mobile-menu {
    display: none;
  }
}
/* =============HERO SECTION========== */
.page-hero {
  display: flex;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg.jpg);
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: none;
  background-position: center;
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  justify-items: center;
}
.top-hero {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
}
.button-hero {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  display: block;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  margin: 0 auto;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .page-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .page-hero {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-tab.jpg);
  }
  .top-hero {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  .button-hero {
    margin-top: 36px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .sect-effect {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-tab@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .page-hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
  .button-hero {
    margin-top: 48px;
  }
  .button-hero:hover,
  .button-hero:focus {
    background-color: #404bbf;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .page-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}
/* ========OUR BENEFITS========= */
.icon-benefits {
  display: none;
}
.page-benefits {
  padding: 96px 0;
}
.local-item {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text-benefits {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.menu-benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .menu-benefits {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    row-gap: 72px;
    column-gap: 24px;
  }
  .menu-benefits-item {
    width: calc((100% - 24px) / 2);
  }
  .local-item {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .page-benef-div {
    flex-wrap: nowrap;
  }
  .icon-benef-m {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 100px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
  }
  .menu-benefits-item {
    width: calc((100% - 72px) / 4);
  }
  .local-item {
    font-weight: 500;
    font-size: 20px;
    margin-top: 8px;
  }
  .text-benefits {
    font-weight: 400;
  }
}
/* ============OUR TEAM============ */
.page-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.page-team-div {
  margin-left: auto;
  margin-right: auto;
}
.menu-team {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.menu-team-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 264px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  padding-bottom: 32px;
}
.main-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.links-main {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links-main:hover,
.links-main:focus {
  background-color: #404bbf;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-top: 32px;
  padding-bottom: 8px;
}
.team-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding-bottom: 8px;
}

.links-team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-left: 16px;
  padding-right: 16px;
}
.links-people {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links-people:hover {
  background-color: #31d0aa;
}
.links-icon {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .page-team {
    padding: 0 108px;
  }
  .menu-team {
    column-gap: 24px;
    row-gap: 64px;
  }

  .menu-team-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .page-team {
    background: #f4f4fd;
    padding: 120px 0;
  }
  .page-team-div {
    padding: 0 15px;
  }
  .main-team {
    padding-top: 0;
  }
  .menu-team {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .menu-team-item {
    width: calc((100%-72px) / 4);
  }
  .links-icon {
    fill: #f4f4fd;
  }
  .team-name {
    margin-bottom: 8px;
  }
}
/* ============OUR PORTFOLIO========= */
.page-portfolio {
  display: flex;
  padding-bottom: 96px;
  padding-top: 96px;
}
.menu-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.menu-portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-portfolio-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.images-wrapper {
  position: relative;
  overflow: hidden;
}
.text-overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-portfolio-item:hover .text-overlay {
  transform: translateY(0%);
}

.border-team-text {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
@media screen and (min-width: 768px) {
  .menu-portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

.menu-portfolio-item {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 24px) / 2);
}
@media screen and (min-width: 1158px) {
  .page-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .menu-portfolio {
    gap: 48px 24px;
  }

  .menu-portfolio-item {
    box-shadow: none;
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}
/* ==========FOOTER SECTION========== */
.page-footer {
  padding: 96px 0;
  background-color: #2e2f42;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.container-second {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo-footer {
  margin-bottom: 16px;
}
.logo-footer .text-color-second {
  color: #f4f4fd;
}

.text-footer {
  max-width: 288px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.text-icon-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
.icon-list-footer {
  display: flex;
  gap: 16px;
}

.icon-list-item-footer {
  width: 40px;
  height: 40px;
}

.icon-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.text-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.form-input-email {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.form-input-subscr {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 16px;
}
.btn-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn-subscribe::placeholder {
  color: #fff;
}
.icon-btn-sb {
  margin-left: 16px;
  fill: #fff;
}
@media screen and (min-width: 768px) {
  .container-flex {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
    margin-left: 108px;
    padding: 0;
    row-gap: 72px;
    column-gap: 24px;
  }

  .container-second {
    max-width: 264px;
    justify-content: flex-start;
  }

  .text-footer {
    max-width: 264px;
  }

  .text-icon-footer {
    text-align: left;
  }
}
.icon-link-footer {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: #31d0aa;
}

.container-subscribe {
  display: inline-block;
}

.text-subscribe {
  text-align: left;
}

.form-input-email {
  margin-bottom: 0;
  margin-right: 24px;
  width: 264px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-email:focus {
  border-color: #31d0aa;
}

.btn-subscribe {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: #31d0aa;
  border: none;
}
@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }

  .container-flex {
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
    margin: 0 auto;
    padding: 0 15px;
    gap: 0;
  }

  .container-second {
    margin-right: 120px;
  }

  .container-subscribe {
    margin-left: 80px;
  }
}
/* =======MODAL STYLE======== */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop:not(.is-open) .modal-main {
  transform: translate(-50%, -100%);
}
.modal-close-btn {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  padding: 0;
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0;
  background-color: #e7e9fc;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #fff;
  background-color: #404bbf;
  border: none;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-slogan {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.review-form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.review-form-wrapper {
  margin-bottom: 8px;
}

.review-form-main {
  position: relative;
}

.review-form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
  border-color: #4d5ae5;
}
.review-form-icons {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus + .review-form-icons {
  fill: #4d5ae5;
}

.review-form-textarea-wrapper {
  margin-bottom: 16px;
}
.review-form-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-textarea:focus {
  border-color: #4d5ae5;
}
.review-form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-checkbox:checked + .review-form-checkbox-label span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.review-form-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.review-form-custom-checkbox {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  fill: #404bbf;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox-label-link {
  color: #4d5ae5;
  text-decoration: underline;
}
.modal-checkbox-span {
  align-items: center;
}

.review-form-submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  justify-content: center;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal-main {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
